html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: none;
  padding: 0 40px;
}
@media screen and (min-width: 900px) {
  .navigation {
    grid-area: navigation;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navigation__link {
    border: 1px solid darkgrey;
    flex-basis: calc(33.3333333333% - 40px);
    height: 260px;
    text-decoration: none;
    color: rgb(60, 60, 60);
    overflow: hidden;
    position: relative;
  }
  .navigation__description {
    font-size: 26px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 100%;
    text-align: center;
    transition: transform 0.5s;
  }
}

.contact {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
.contact__email {
  text-decoration: none;
  color: rgb(60, 60, 60);
}
@media screen and (min-width: 900px) {
  .contact {
    grid-area: footer;
    font-weight: 300;
    padding: 60px;
    font-size: 20px;
  }
}

.media {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 900px) {
  .media {
    grid-area: media;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
  }
}
.media__logo {
  width: 60px;
}
@media screen and (min-width: 900px) {
  .media__logo {
    width: 40px;
    margin: 0 20px;
  }
}

.header__title {
  color: #f4a666;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  padding: 40px;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .header__title {
    padding: 60px 40px;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .header {
    grid-area: logo;
  }
}
.header__home {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
@media screen and (min-width: 900px) {
  .menu {
    position: static;
    grid-area: menu;
  }
}
.menu__list {
  padding: 20px 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
  background-color: #f4a666;
}
@media screen and (min-width: 900px) {
  .menu__list {
    background-color: white;
    display: block;
    margin: 0;
    padding: 0 40px;
  }
}
.menu__item {
  list-style: none;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f4a666;
}
@media screen and (min-width: 900px) {
  .menu__item {
    margin: 5px 0;
    border: none;
    padding: 5px 0;
  }
}
.menu__item a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  color: #f4a666;
  font-weight: 500;
  display: flex;
  padding: 10px;
}
@media screen and (min-width: 900px) {
  .menu__item a {
    color: rgb(60, 60, 60);
    padding: 0;
  }
}
.menu__item--active .menu__text {
  border-bottom: 3px dotted #f4a666;
}
.menu__text:hover {
  border-bottom: 3px dotted #f4a666;
}

@media screen and (min-width: 900px) {
  .main-page {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo   logo      logo         media" "menu   navigation navigation navigation" "footer footer    footer       footer";
  }
}

.ux-design__link {
  background-image: url(/images/navigation/ux-design.png);
  background-color: white;
  background-size: cover;
  background-position: top center;
}
.ux-design__link:hover .ux-design__description {
  transform: translateY(-100%);
}

.coding__link {
  background-image: url(/images/navigation/programovani.png);
  background-color: white;
  background-size: cover;
  background-position: top center;
}
.coding__link:hover .coding__description {
  transform: translateY(-100%);
}

.graphic__link {
  background-image: url(/images/navigation/poukazka.jpg);
  background-color: white;
  background-size: cover;
  background-position: top center;
}
.graphic__link:hover .graphic__description {
  transform: translateY(-100%);
}/*# sourceMappingURL=style.css.map */