---
layout: layouts/main-template.njk
title: Grafika
---
<div class="presentation">
    <h2 class="presentation__title presentation__promotional">Propagační grafika</h2>

    <section class="presentation__section">
        {% for itemPromotional in list.graphicPromotional %}
        <a data-fslightbox="promotional" class="presentation__item" href="/images/graphic/large/{{itemPromotional.image}}"><img class="presentation__image-small" src="/images/graphic/small/{{itemPromotional.image}}" alt="{{itemPromotional.description}}"></a>
        {% endfor %}  
    </section>

    <h2 class="presentation__title presentation__vector">Vektorová grafika</h2>
    <section class="presentation__section">
        {% for itemVector in list.graphicVector %}
        <a data-fslightbox="vector" class="presentation__item" href="/images/graphic/large/{{itemVector.image}}"><img class="presentation__image-small" src="/images/graphic/small/{{itemVector.image}}" alt="{{itemVector.description}}"></a>
        {% endfor %}  
    </section>
</div>

<script src="/javaScript/fslightbox.js"></script>