<!-- ---
layout: layouts/main-template.njk
title: Programování
---
<h2 class="title-page">HTML CSS</h2>

<section class="list">
    {% for itemCoding in list.coding %}
    <div class="list__item">
        <a class="list__link navigation__link" href="{{itemCoding.link}}/">
            <img src="/images{{itemCoding.image}}">
            <div class="list__description"> 
                <p>{{itemCoding.name}}</p>
                <p>{{itemCoding.description}}</p>
            </div>
        </a>
    </div>
    {% endfor %}  
</section>

<h2 class="title-page">JavaScript</h2>
<section class="list">
    {% for itemJavaScript in list.javaScript %}
    <div class="list__item">
        <a class="list__link navigation__link" href="{{itemJavaScript.link}}/">
            <img src="/images{{itemJavaScript.image}}">
            <div class="list__description"> 
                <p>{{itemJavaScript.name}}</p>
                <p>{{itemJavaScript.description}}</p>
            </div>
        </a>
    </div>
    {% endfor %}  
</section> -->