---
layout: layouts/main-template.njk
title: Programování
---
<div class="presentation">
    <h2 class="presentation__title presentation__HTML">HTML CSS</h2>

    <section class="presentation__section">
        {% for itemCoding in list.coding %}
        <div class="presentation__item">
            <a class="presentation__link" href="{{itemCoding.link}}/">
                <img src="/images{{itemCoding.image}}">
                <div class="presentation__description"> 
                    <div>
                        <h3>{{itemCoding.name}}</h3>
                        <p>{{itemCoding.description}}</p>
                    </div>
                </div>
            </a>
            <a class="presentation__github" href="{{itemCoding.github}}">GitHub repository</a> 
        </div>
        {% endfor %}  
    </section>

    <h2 class="presentation__title presentation__JavaScript">JavaScript</h2>
    <section class="presentation__section">
        {% for itemJavaScript in list.javaScript %}
        <div class="presentation__item">
            <a class="presentation__link" href="{{itemJavaScript.link}}/">
                <img src="/images{{itemJavaScript.image}}">
                <div class="presentation__description"> 
                    <h3>{{itemJavaScript.name}}</h3>
                    <p>{{itemJavaScript.description}}</p>
                </div>
            </a>
            <a class="presentation__github" href="{{itemCoding.github}}">GitHub repository</a> 
        </div>
        {% endfor %}  
    </section>
</div>