@use '../abstracts/mixins';
@use '../base/colors';

.ux-design__link {
    background-image: url(/images/navigation/ux-design.png);
   @include mixins.background-picture;
   @include mixins.desktop {
    &:hover .ux-design__description {
        transform: translateY(-100%);
    }}}

.coding__link {
    background-image: url(/images/navigation/programovani.png);
    @include mixins.background-picture;
    @include mixins.desktop {
    &:hover .coding__description {
        transform: translateY(-100%);
    }
}}

.graphic__link {
    background-image: url(/images/navigation/poukazka.jpg);
    @include mixins.background-picture;
    @include mixins.desktop {
    &:hover .graphic__description {
        transform: translateY(-100%);
    }}
}

