@use '../abstracts/mixins';
@use '../base/colors';

.presentation {
    padding: 0 20px;
    @include mixins.desktop{
       grid-area: navigation;
    }
     &__title {
        @include mixins.desktop{
            color: colors.$color-text;
            padding: 20px 0 0 0;
            text-align: center;
        }
    }
    &__section {
        @include mixins.tablet{
           display: flex;
           flex-wrap: wrap;
           gap: 60px;
       }
    }
    &__item {
        margin: 20px;
         @include mixins.tablet{
            margin: 0;
            flex-basis: calc(100%/2 - 60px);
            // background-color: #F5F5F5;
        }
        @include mixins.desktop{
            flex-basis: calc(100%/4 - 60px);
            // background-color: #F5F5F5;
        }
        & img {
            width: 100%;
        }
    }
    &__link {
        @include mixins.link;
    }
    

  &__externalLink {
    @include mixins.link;
    padding: 8px 12px;
    margin: 10px 0;
    color: white;
    background-color: colors.$color-link-background;
    border: 1px solid colors.$color-link-background;;
    border-radius: 6px ;
    &:hover {
        color: colors.$color-text;
        background-color: white;
        font-weight: 500;

    }
  }
}

