<section class="media">
    <a href="www.linkedin.com/in/zuzana-volfová-90001530"><image class="media__logo" src="/images/icons/linkedin.png" alt="linkedIn"></a>
</section>

<section class="contact">
    <div class="contact__text">Zuzana Volfová<br>
        +420 728 881 941<br>
        <a class="contact__email" href="mailto:zuzka.volfova@gmail.com">zuzka.volfova@gmail.com</a>
    </div>
</section>


