<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a href="/ux-design/">UX Design</a></li>
        <li class="menu__item"><a href="/programovani/">Programování</a></li>
        <li class="menu__item"><a href="/grafika/">Grafika</a></li>
    </ul>
</nav>
