<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item {{'menu__item--active' if page.fileSlug==='ux-design'}}"><a href="/ux-design/"><span class="menu__text  ">UX Design</span></a></li>
        <li class="menu__item  {{'menu__item--active' if page.fileSlug==='programovani'}}"><a href="/programovani/"><span class="menu__text">Programování</span></a></li>
        <li class="menu__item {{'menu__item--active' if page.fileSlug==='grafika'}}"><a href="/grafika/"><span class="menu__text ">Grafika</span></a></li>
    </ul>
</nav>
