<nav class="menu-mobile">
    <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a href="/ux-design/">UX Design</a></li>
        <li class="menu-mobile__item"><a href="/programovani/">Programování</a></li>
        <li class="menu-mobile__item"><a href="/grafika/">Grafika</a></li>
    </ul>
</nav>