@use '../abstracts/mixins';
@use '../base/colors';

.contact {
    text-align: center;
    @include mixins.padding;
    font-size: 16px;
    &__email {
        @include mixins.link;
    }
    @include mixins.desktop {
        grid-area: footer;
        font-weight: 300;
        padding: 60px;
        font-size: 20px;
    }
}
.media {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        @include mixins.desktop {
            grid-area: media;
            justify-content: flex-end;
            align-items: center;
            margin-right: 60px;
            
        }
    &__logo {
        width: 60px;
        @include mixins.desktop {
            width: 40px;
            margin: 0 20px;
        }
    }
}