@use '../abstracts/mixins';
@use '../base/colors';

.contact {
    padding: 20px 0;
    font-size: 16px;
    &__email {
        @include mixins.link;
    }
    &__media {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
    }
    &__logo {
        width: 60px;


    }
}
