@use '../abstracts/mixins';
@use '../base/colors';

.contact {
    @include mixins.padding;
    font-size: 16px;
    &__email {
        @include mixins.link;
    }
    @include mixins.desktop {
        grid-area: footer;
        font-weight: 300;
        border-top: 1px solid colors.$color-text;
    }
}
.media {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        @include mixins.desktop {
            grid-area: media;
        }
    &__logo {
        width: 60px;
        @include mixins.desktop {
            width: 40px;
        }
    }
}