@use '../abstracts/mixins';
@use '../base/colors';

.menu {
    position: sticky;
    bottom: 0;
    @include mixins.desktop {
        position: static;
        grid-area: menu;
    }
    &__list {
        padding: 20px 10px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 16px;
        font-weight: 500;
        background-color: colors.$color-primary;
        @include mixins.desktop {
            background-color:white;
            display: block;
            margin: 0;
            padding: 0 40px;
        }
    }
    &__item{
        list-style: none;
        background-color: white;
        border-radius: 4px;
        border: 1px solid colors.$color-primary;
        @include mixins.desktop {
            margin: 5px 0;
            border: none;
            padding: 5px 0;
           
        }
        & a {
            @include mixins.link;
            color:  colors.$color-primary;
            font-weight: 500;
            display: flex;
            padding: 10px;
            @include mixins.desktop {
                color: colors.$color-text;
                padding: 0;
            }
        }
    }
    &__item--active .menu__text {
        border-bottom: 3px dotted colors.$color-primary;
    }
    &__text:hover {
            border-bottom: 3px dotted colors.$color-primary; 
        }
}