@use '../abstracts/mixins';
@use '../base/colors';

.menu-mobile {
    position: sticky;
    bottom: 0;

    &__list {
        padding: 10px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 16px;
        font-weight: 500;
        background-color: colors.$color-primary;
    }
    &__item{
        list-style: none;
        background-color: white;
        border-radius: 4px;
        border: 1px solid colors.$color-primary;
        & a {
            @include mixins.link;
            color:  colors.$color-primary;
            font-weight: 500;
            display: flex;
            padding: 10px;
        }
    }
}
